body { 
    font-family: 'Montserrat', sans-serif;
    background-color: floralwhite;
    padding: 40px 40px 40px 40px;
  }
 
 .Wrapper {
  display:flex ;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 /* Main content */
 .Main-content {
    
     padding-top: 88px;
     padding-left: 88px;
     padding-bottom: 88px;
     padding-right: 88px;
     }
 
     /* about me */
 /* .my-profession {
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 17px;
     color: #000000;
     margin: 0 0 18px 0;
 } */
 .my-name{
     font-style: normal;
     font-weight: 700;
     font-size: 45px;
     line-height: 55px;
     color: #000000;
     margin: 0 0 28px 0;
 }
 .i-life{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
 }
 .date{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
 }

 .about-me-container {
     margin-bottom: 64px;
 }
 
 /* Education */
 
 .Education-container {
     width: 301px;
     height: 114px;
     left: 495px;
     top: 1138px;
 }
 .Education-teaching {
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #000000;
     margin: 0 0 12px 0;
  
 }
 .Education-university {
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     color: #6D9BF5;
     margin: 12px 0 12px 0;
 }
 .Education-position {
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 17px; 
     color: #000000;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
     margin: 0 0 12px 0; 
 
 }
 
 .work-time-education {
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 15px;
     color: #A8A8A8;
     margin: 12px 0 0 0;
 
 }
 /* Projects */
 
 .Main-content-title {
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #000000;  
     margin: 0 0 8px 0;
 }
 .project-item {
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     color: #000000;
 }
 
 .project-list {
    padding: 0 0 0 16px; 
    margin: 0;
 }
 
 .projects-container {
    margin-bottom: 48px; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
   
 }
 
 .project-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
 }
 /* .project-item-link{
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     text-decoration-line: underline;
     color: #005FFF;
 } */
 
 /* work experience */
 /* .work-experience-container{
     margin-bottom: 44px;
 }
 .work-experience-position {
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     color: #000000;  
 }
 .work-experience-container {
    margin-bottom: 16px; 
 }
 .work-experience-company {
     color: #6D9BF5;
 }
 
 .work-period {
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 15px;
     color: #A8A8A8;
     margin: 12px 0 8px 0;
 }
 
 .work-duties {
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #595959;
 }
 
 .work-duties-list {
 padding: 14px;
 margin: 0;
 } */
 /* Sidebar */
 .Sidebar {
     
     width: 370px;
     background: #d1c1b0;
 }
 
 .my-photo {
     margin-top: 40px;
 }
 .Contacts-container,
 .Tech-Skills-container,
 .Soft-Skills-container {
 margin: 48px 0 0 48px ;
 }
 
 .Sidebar-title {
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     color: #161D2A; 
     margin-bottom: 8px;  
 }
 
 /* Contacts */
 .Contacts-type {
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     color: #161D2A;
     margin-right: 8px ;
 }
 .contacts-item {
    
     margin: 0.0,8px,0;
 }
 .contacts-namber,
 .contacts-email {
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #161D2A;
 }
 /* Tech Skills */
 .Skills-list {
     margin: 0;
     padding: 0 0 0 20px;
 }
 .Skills-list-item{
     color: #000000;
 }
 .Skills-list-text {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #161D2A;  
 }
 /* Soft Skills */
 .Soft-Skills {
     margin: 0 ;
     padding: 0 0 0 20px ;
 }
 .Soft-Skills-item {
     color: #000000;
 }
 .Soft-Skills-text {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #161D2A ;   
 }